# Python
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Mac OS X
.DS_Store

# JetBrains
.idea/

# Results
results/*
!results/scores/
!results/online-learning/
!results/trained-classifiers/
!results/data-exploration/
